h1{

   font-weight: bold;
   font-size:32px;
   font-family: Georgia;

}
h2{

    font-size: 18px;
    color:blue;
    font-family:Georgia;
}
p.green{

    font-size:16px;
    font-family: Georgia;
    text-align: center;

}
p.red{

    color: #ec0d0d;
    text-align: left;

}